<!DOCTYPE html>
<html lang="en">
<% include ./partials/head %>

<body>
  <div class="container full-height">
    <div class="row flex center v-center full-height">
      <div class="col-8 col-sm-4">
        <div class="form-box">
          <form action="/Login" method="POST">
            <fieldset>
              <legend class="color-letra">Inicio de Sesion Charts</legend>
              <img src="./img/avatar.png" id="avatar" class="avatar round">
              <input class="form-control form-Login text-capitalize" type="name" id="username" name="name" placeholder="username"
                autocomplete="off">
              <input class="form-control form-Login" type="password" id="password" name="password" placeholder="password"
                autocomplete="off">
              <button class="btn btn-warning btn-block" type="submit">LOGIN</button>
            </fieldset>
          </form>
          <a class="letraform" href="/Signup"> No tengo Cuenta </a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>